#hero-aboutUs__section{
    background-image: url(../images/aboutUs/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#hero-aboutUs__section .hero-section__content{
    position: relative;
    padding: 12rem 0 8rem
}
#hero-aboutUs__section .hero-section__content h1{
    font-size: 2.5rem
}
#hero-aboutUs__section .hero-section__content p{
    letter-spacing: .5rem;
}
/* end hero section */
h2{
    font-size: 2.5rem;
    color: #000;
}
section p{
    color: rgb(101, 101, 101)
}
.about-us__image{
    position: relative;
}
.about-us__image::after{
    content: "";
    position: absolute;
    top: 15px ;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 4px solid rgb(249, 199, 2)
}
/* start section of mission and vission */
 .vision-content,
.mission-content{
    color: #000;
    overflow: hidden;
}
.line-above__header{
    margin: 0 0 1.7rem
}
/* end section of mission and vission */
