#hero-aboutUs__section{
    position: relative;
    padding: 12rem 0 8rem
}
#interior-construction ul{
    position: relative;
    display: flex;
    margin: 0 20%;
}
ul li{
    /* text-align: center; */
}
#interior-construction li:not(:last-of-type)::after{
    background: red;
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    top: 11px;
    z-index: -1;
}
#interior-construction li:not(:last-of-type)::before{
    background: red;
    content: "";
    width: 50%;
    height: 3px;
    position: absolute;
    top: 11px;
    z-index: -1;
    /* left: 0; */
}
#interior-construction li span{
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    background: #000;
    margin: auto;
}

/* start trunkey solution content */
.trunkey-solution__content p span{
    font-weight: bold;
    font-size: 1rem;
}
.trunkey-solution__content p:nth-last-of-type(2){
    border-left: 5px solid rgba(0, 0, 0, 0.22);
    padding: 10px 20px;
}
h4{
    font-weight: bold;
    font-size: 1.2rem;
}
.trunkey-solution__content ul li{
    font-size: 1.3rem;
}
.trunkey-solution__content ul li::before{
    content: '\f14a';
    font-family: fontawesome;
    margin-right: 1rem
}
/* end trunkey solution content */