#hero-aboutUs__section{
    position: relative;
    padding: 12rem 0 8rem
}
#interior-construction ul{
    position: relative;
    display: flex;
    margin: 0 20%;
}
ul li{
    /* text-align: center; */
}
#interior-construction li:not(:last-of-type)::after{
    background: red;
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    top: 11px;
    z-index: -1;
}
#interior-construction li:not(:last-of-type)::before{
    background: red;
    content: "";
    width: 50%;
    height: 3px;
    position: absolute;
    top: 11px;
    z-index: -1;
    /* left: 0; */
}
#interior-construction li span{
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #000;
    margin: auto;
}

/* start trunkey solution content */
.trunkey-solution__content p span{
    font-weight: bold;
    font-size: 1rem;
}
.trunkey-solution__content p:nth-last-of-type(2){
    border-left: 5px solid rgba(0, 0, 0, 0.22);
    padding: 10px 20px;
}
h4{
    font-weight: bold;
    font-size: 1.2rem;
}
.trunkey-solution__content ul li{
    font-size: 1.3rem;
}
.trunkey-solution__content ul li::before{
    content: '\f14a';
    font-family: fontawesome;
    margin-right: 1rem
}
#repairing-maintenance__section img{
    box-shadow: 6px 6px 11px rgba(204, 204, 204, 0.62)
}
#repairing-maintenance__section ul li{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 2rem;
    /* color: #000 */
}
#repairing-maintenance__section ul li i,
#repairing-maintenance__section ul li svg{
    font-size: 1.8rem;

}
/* end trunkey solution content */
/*  */
.interion-desgin{
    background-image: url(../images/interiorFitOut/1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.interion-desgin{
    position: relative;
}
.interion-desgin ul li{
    font-size: 1.2rem;
    margin-bottom: 1rem
}
.interion-desgin__content{
    position: relative;

}