/* start hero section */
#cost-management__hero-section{
    background-image: url(../images/management/1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    padding: 12rem 0 8rem
}
#cost-management__hero-section p{
    letter-spacing: .5rem;
}
.hero-section__content{
    position: relative;
}
/* end hero section */
/* start project management */
.project-management__img{
    position: relative;
    width: 100%;
    height: 100%;
}
.project-management__img img{
    height: 100%;
}
.project-management__img::after{
    content: "";
    position: absolute;
    border: 4px solid rgb(249, 199, 2);
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem
}
h2{
    font-size: 2.5rem;
    color: #000;
}
/* end project management */
/* start cost management */
p{
    color: rgb(101, 101, 101)    
}
.content-icon svg{
    font-size: 2.5rem;
    color: rgb(249, 199, 2)
}
h3{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.2rem
}
#cost-management__content .card{
    background: none
}
.wrapper{
    background: rgb(249, 199, 2);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px
}
