#hero-portfolio__section{
    background-image: url(../images/portfolio/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 12rem 0 8rem ;
    position: relative;
}
ul.portfolio-items li{
    border: 1px solid rgb(182, 182, 182);
    padding: .5rem 1rem;
    margin: .5rem 1rem; 
    text-transform: capitalize;
    font-size: .8rem;
    font-weight: bold;
    display: inline-block;
}
ul.portfolio-items .mixitup-control-active{
    color: rgb(249, 199, 2);
    border-color: rgb(249, 199, 2);
}
ul.portfolio-items li:hover{
    cursor: pointer;
}
.mix{
    margin: .5rem;
    position: relative;
}
.iso-image .mix {display:inline-block;
    width:300px;
}
 .iso-image  img{
     
	  /* height:220px; */
      /* margin: 10px */
    }  
    .grid-item { width: 25%; }
.grid-item--width2 { width: 50%; }
#portfolio-section .mix .overlay::before{
    content: "";
    position: absolute;
    top: 15px ;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 2px solid rgb(249, 199, 2)

}
#portfolio-section .overlay{
    opacity: 0;
    transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
}
#portfolio-section .overlay:hover{
    opacity: 1
}
h6{
    text-align: center;
    position: relative;
    top: 45%;
    font-weight: bold;
    text-transform: capitalize;
    width: 50%;
    margin: auto;
}