/* general */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth
}
@font-face{
    font-family: "mainFont";
    src: url("../fonts/ubuntu-l.eot");
    src: url("../fonts/Ubuntu-Light.woff") format("woff"),
    url("../fonts/Ubuntu-Light.ttf")
}
@font-face{
    font-family: "headerFont";
    src: url("../fonts/PathwayGothicOne-Regular.TTF");
    src: url("../fonts/PathwayGothicOne-Regular.woff") format("woff"),
    url("../fonts/PathwayGothicOne-Regular.ttf") format("ttf")
}
.lb-data .lb-caption {
    font-size: 1.3rem;
    text-transform: capitalize;
    margin-top: .5rem;
    margin-top: 1rem;
    display: block;
    text-align: center;
    color: rgba(248, 207, 44, 1)
}
body{
    font-size: 10px;
    font-family: "mainFont";
    background: rgba(211, 211, 211, 0.27)
}
a , a:hover , a:active , a:visited{
    text-decoration: none
}
img{
    width: 100%
}
h1{
    margin: auto;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    width: 40%;
    font-size: 3rem;
    position: relative;
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: #fff;
    font-family: "headerFont",sans-serif;
    text-transform: uppercase;
    font-size: 3.5rem;
    margin-bottom: 1.3rem
}
.line-above__header{
    width: 6.5rem;
    height: 0.8rem;
    background: rgba(248, 207, 44, 1);
    margin: 0rem auto 1.7rem;
}
.base-color{
    color: rgba(248, 207, 44, 1)
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top:0;
    background: rgba(28, 28, 28, 0.5)
}
p{
    color: #fff;
    font-size: 1.2rem
}
.background-prop{
    background-repeat: no-repeat;
    background-size: cover;
}
/* start navigationbar */
header{
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(20, 20, 20, 0.7);
    transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
}
#header-navbar{
    top: 0;
    bottom: 0;
    z-index: 999;
    line-height: 55px
}

#header-navbar a{
    color: #fff;
    font-size: 1.1rem;
    text-transform: capitalize;
    transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
}

#navbar-button{
    position: absolute;
    z-index: 999;
    right: 2rem;
    top: 1rem;
    font-size: 2.3rem;
    color: #fff
}
.nav-item.active{
    border-bottom: 2px solid rgba(248, 207, 44, 1);
}
/* start hero section */
#hero-section{
    position: relative;
    height: 100vh;
}
#hero-section video{
    width: 100%;
    height: 100%;
    object-fit: cover
}
#hero-section .overlay{
    padding: 16rem 0 ;
}
#hero-section p{
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 1rem
}
#hero-section img{
    width: 15rem
}
.sections_padding{
    padding: 4rem 0
}
/* end hero section */
/* start service process section */
.step__service-planning svg,
.step__service-planning i{
    font-size: 2rem
}
.service-planning__content{
    background:rgba(0, 0, 0, 0.88);
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 1rem;
}
.service-planning__content p{
    font-size: 1rem
}
.service-planning__content h4{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1.3rem;
}
/* end service process section */
/* start what we provide section */
.what-provide__section{
    background-image: url(../images/whatProvide.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.what-provide__content{
    position: relative;
    z-index: 2
}
.what-provide__content ul{
    color: #fff;
    margin-left: 1.7rem;
    font-size: 1.1rem;
}
/* end what we provide section */
/* strat portfolio section */
#portofolio .portfolio-items{
    overflow: hidden;
    position: relative;
}
#portofolio .portfolio-items h5{
    color: #fff;
    text-align: center;
    position: relative;
    top: 45%;
    font-weight: bold;
    text-transform: capitalize;
    width: 50%;
    text-align: center;
    margin: auto;
}
#portofolio .portfolio-items img,
#portofolio .portfolio-items .overlay{
    transition: all ease-in-out .4s;
    -webkit-transition: all ease-in-out .4s;
    -moz-transition: all ease-in-out .4s;
    -ms-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
}
#portofolio .portfolio-items .overlay::before{
    content: "";
    position: absolute;
    top: 15px ;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 2px solid rgba(248, 207, 44, 1)
}
#portofolio .portfolio-items .overlay{
    opacity: 0;
    background: rgba(28, 28, 28, 0.55)
}
#portofolio .portfolio-items:hover .overlay{
    opacity: 1;
}
#portofolio .portfolio-items:hover img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.latest-image:last-of-type {
    width: 100%;
    height: 100%;
    /* object-fit: cover */
}
.latest-image:last-of-type img{
    height: 100%;
    object-fit: cover
}
/* end portfolio section */
/* /* start section of mangar massege  * / */
.mangar-info{
    position: relative;
    overflow: hidden;
}
.mangar-name{
    position: absolute;
    bottom: -2.5rem;
    width: 100%;
    background: rgba(35, 35, 35, 0.5);
    transition: all ease-in-out .3s;
}
.mangar-info:hover .mangar-name{
    bottom: 0;
}
.mangar-name h5 a{
    text-transform: capitalize;
    margin-bottom: 0;
    margin-top: .5rem;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
}
.mangar-name h5 a:hover,
.mangar-name a:hover svg{
    color: rgb(248, 197, 0)
}
.mangar-name p:first-of-type{
    margin-bottom: .5rem
}
.mangar-name svg{
    color: #fff
}
/* end section of mangar massege  * /
/* start our client section */

#our-client{
    background-image: url(../images/clients/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.our-client_images{
    background: rgba(22, 22, 22, 0.8);
    width: fit-content;
    position: relative;
}
.our-client__header{
    position: relative;
    z-index: 2
}
#our-client .overlay{
    /* background: rgba(81, 81, 81, 0.42) */
}
#our-client .client-logo{
    border: 1px solid rgba(248, 207, 44, 1);
    border-top: 0
}
#our-client .client-logo div{
    border: 1px solid #fff;
    margin: .3rem
}
/* end our client section */
/* start footer */
footer{
    background: rgba(20, 20, 20);
    font-size: 1.1rem;
    
}
footer p{
    font-size: 1.1rem;
}
footer .about-us__footer img{
    width: 10rem
}
.footer-links ul li i,
.footer-links ul li svg{
    color: rgba(248, 207, 44, 1)
}
.footer-links ul li{
    color: #fff;
    background: none;
    border-color: rgb(44, 44, 44);
    transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
}
.footer-links ul li:hover{
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);

}
footer h3{
    color: #fff;
    font-family: "headerFont",sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(248, 207, 44, 1)
}
.company-location{
    color: rgb(248, 197, 0);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
}
footer .social-media a{
    color: #fff;
    background: rgb(36, 35, 35);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    margin-right: .3rem;
    transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
}
footer .social-media a:hover{
    background: rgb(248, 197, 0)
}
#arrow{
    font-size: 1.5rem;
    color: #fff;
    background: rgb(248, 197, 0);
    display: block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    transition: all ease-in-out .3s;

}
#arrow:hover{
    background: rgb(194, 155, 6)
}
/* media query */
@media (max-width : 1024px){
    h1{
        font-size: 2rem;
    }
    #lightboxOverlay,
    .lightbox{
        display: none !important
    }
}